.feed-container {
  text-align: center;
  font-family: Arial, sans-serif;
  margin: auto auto;
  padding: 20px;
  max-width: 500px;
}

.header {
  background-color: #586dff;
  color: white;
  font-size: 28px;
  padding: 15px;
  width: 100%;
  border-radius: 6px 6px 0 0;
  margin-bottom: 20px;
}
.main{
  padding-top: 100px;
}
.post-input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
  border: 2px solid #586dff;
  padding: 10px;
  border-radius: 5px;
}

.post-input textarea {
  width: 99%;
  height: 60px;
  padding: 8px;
  font-size: 14px;
  resize: none;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.post-input button {
  align-self: flex-end;
  margin-top: 8px;
  background-color: #586dff;
  color: white;
  border: none;
  padding: 5px 12px;
  font-size: 12px;
  border-radius: 4px;
  cursor: pointer;
}

.post-card {
  border: 2px solid #586dff;
  border-radius: 10px;
  padding: 10px;
  text-align: left;
  margin-bottom: 10px;
}

.post-user {
  font-weight: bold;
  margin-bottom: 5px;
}

.post-content {
  font-size: 14px;
  color: #333;
}
.post-image{
  width: 430px;
  height: 430px;
}
.btn{
  align-self: flex-end;
  margin-top: 8px;
  background-color: #586dff;
  color: white;
  border: none;
  padding: 5px 22px;
  font-size: 12px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 2px;

}